*{
    background-color: black;
    
        

}
   
.tack {
    text-align: center;
    color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1em;
	width: 100%;
	height: 9em;
	font-size: 4rem;
    position: absolute;
	


}